/* HEADER */

header{
    display: flex;
    align-items: center;
    background-color: orange;
    justify-content: space-between; 
    color: aliceblue;
    min-height: 2.8rem;
    position: fixed;
    top: 0;
    width: 1200px;
}

ul>*{
    display: inline ;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.logo{
    width: 8rem;
    
}

.icone{
    padding-right: 0.3rem;
}

nav {
    padding-left: 0.3rem;
}

/* MAIN */

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    justify-content: space-between;
    row-gap: 30%;
}

.col{
    width: 30%;
    margin-top: 2rem;
    position: relative;
}

.heart{
    background-color: aliceblue;
    position: absolute;
    right: 0;
    top: 0.4rem;
    padding: 0.5rem;
}

.discount{
    background-color: red;
    color: aliceblue;
    font-size: smaller;
    padding: 0.2rem;
    position: absolute;
    left: 0;
    bottom: 6rem;
}

.sostenibilità {
    background-color: green;
    color: aliceblue;
    font-size: smaller;
    padding: 0.2rem;
    position: absolute;
    left: 2.4rem;
    bottom: 6rem;
}

#sostenibilità {
    background-color: green;
    color: aliceblue;
    font-size: smaller;
    padding: 0.2rem;
    position: absolute;
    left: 0;
    bottom: 6rem;
}
.copertina{
    display: block;
}

.immagine{
    display: none;
}

.cambio-img:hover .copertina{
    display: none;
}

.cambio-img:hover .immagine {
    display: block;
}

/* FOOTER */

footer{
    background-color: #333;
    color: aliceblue;
    min-height: 3.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

div>ul>li{
    font-size: x-small;
}

h2{
    font-size: medium;
}

div>p{
    font-size: small;
    padding-bottom: 0.2rem;
}