/* HEADER */

header{
    display: flex;
    align-items: center;
    background-color: orange;
    justify-content: space-between; 
    color: aliceblue;
    min-height: 2.8rem;
    position: fixed;
    top: 0;
    width: 1200px;
}

ul>*{
    display: inline ;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.logo{
    width: 8rem;
    
}

.icone{
    padding-right: 0.3rem;
}

nav {
    padding-left: 0.3rem;
}

/* MAIN */



/* FOOTER */

footer{
    background-color: #333;
    color: aliceblue;
    min-height: 3.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

div>ul>li{
    font-size: x-small;
}

h2{
    font-size: medium;
}

div>p{
    font-size: small;
    padding-bottom: 0.2rem;
}